add imports

In [19]:
import pandas as pd
import matplotlib.pyplot as plt

In [21]:
df = pd.read_csv("../csv/BrusselsAirlines.csv")

In [3]:
df.describe()

,Departure,Destination,Date,Departure time,Arrival time,Stops,Flightnumber,Airports,Duration,Price
count,65,65,65,65,65,65,65,65,65,65
unique,1,1,20,11,17,4,21,12,19,49
top,brussel,heraklion,08/04/2023,06:55,08:50,1,['SN 3255'],"['Brussels Airlines', 'Lufthansa']",755,356.88
freq,65,65,6,13,10,41,8,14,12,4

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65 entries, 0 to 64
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Departure       65 non-null     object
 1   Destination     65 non-null     object
 2   Date            65 non-null     object
 3   Departure time  65 non-null     object
 4   Arrival time    65 non-null     object
 5   Stops           65 non-null     object
 6   Flightnumber    65 non-null     object
 7   Airports        65 non-null     object
 8   Duration        65 non-null     object
 9   Price           65 non-null     object
dtypes: object(10)
memory usage: 5.2+ KB

In [6]:
df.filter(items=["Departure", "Destination", "Date", "Departure time", "Arrival time", "Stops", "Flightnumber", "Airports", "Duration", "Price"])

,Departure,Destination,Date,Departure time,Arrival time,Stops,Flightnumber,Airports,Duration,Price
0,brussel,heraklion,01/04/2023,05:55,10:20,0,['SN 3255'],['Brussels Airlines'],205,392.14
1,brussel,heraklion,01/04/2023,06:20,14:15,1,"['LX 4551', 'LX 2350']","['Brussels Airlines', 'Swiss International Air...",415,527.84
2,brussel,heraklion,01/04/2023,19:15,08:50,1,"['LH 5589', 'LH 4420']","['Brussels Airlines', 'EW Discover']",755,726.88
3,brussel,heraklion,01/04/2023,19:15,10:00,1,"['OS 8176', 'OS 9003']","['Brussels Airlines', 'Austrian Airlines']",825,718.38
4,brussel,heraklion,01/04/2023,19:15,08:50,1,"['LH 5589', '4Y 1204']","['Brussels Airlines', 'EW Discover']",755,726.88
...,...,...,...,...,...,...,...,...,...,...
60,brussel,heraklion,18/04/2023,06:20,19:55,2,"['LX 4551', 'LX 2809', 'LX 8348']","['Brussels Airlines', 'Swiss International Air...",755,264.16
61,brussel,heraklion,19/04/2023,05:55,10:20,0,['SN 3255'],['Brussels Airlines'],205,236.14
62,brussel,heraklion,19/04/2023,15:00,10:15,2,"['LX 4557', 'LX 2819', 'LX 8348']","['Brussels Airlines', 'Swiss International Air...",1095,196.16
63,brussel,heraklion,20/04/2023,09:35,15:45,1,"['LH 5625', 'LH 5922']","['Brussels Airlines', 'Aegean Airlines']",310,373.58
64,brussel,heraklion,20/04/2023,09:35,17:55,1,"['LH 5625', 'LH 1758']","['Brussels Airlines', 'Lufthansa']",440,191.58

In [7]:
df["Departure"].value_counts()

brussel    65
Name: Departure, dtype: int64

In [8]:
df["Destination"].value_counts()

heraklion    65
Name: Destination, dtype: int64

In [9]:
df["Date"].value_counts()

08/04/2023    6
15/04/2023    6
01/04/2023    5
09/04/2023    5
16/04/2023    5
02/04/2023    5
14/04/2023    4
07/04/2023    4
18/04/2023    3
17/04/2023    3
06/04/2023    3
13/04/2023    3
19/04/2023    2
11/04/2023    2
12/04/2023    2
05/04/2023    2
20/04/2023    2
10/04/2023    1
04/04/2023    1
03/04/2023    1
Name: Date, dtype: int64

In [10]:
df["Departure time"].value_counts()

06:55    13
19:15    12
09:35    10
07:00     7
05:55     6
06:20     4
19:00     3
15:00     3
19:20     3
None      2
07:55     2
Name: Departure time, dtype: int64

In [11]:
df["Arrival time"].value_counts()

08:50    10
16:05     9
19:55     7
10:20     6
15:45     5
17:55     5
01:00     3
18:20     3
10:15     3
None      2
14:15     2
20:10     2
12:35     2
12:20     2
17:45     2
10:00     1
09:50     1
Name: Arrival time, dtype: int64

In [12]:
df["Stops"].value_counts()

1       41
2       14
0        8
None     2
Name: Stops, dtype: int64

In [13]:
df["Flightnumber"].value_counts()

['SN 3255']                          8
['LH 5625', 'LH 1758']               7
['LH 5589', 'LH 4420']               5
['LH 5589', '4Y 1204']               5
['LH 5587', 'LH 1296']               5
['LH 5629', 'LH 1758']               5
['LX 4545', 'LX 8348']               4
['LH 5631', 'LH 5922']               3
['LH 5625', 'LH 5922']               3
['LX 4557', 'LX 2819', 'LX 8348']    3
['LX 4563', 'LX 8348']               2
None                                 2
['LX 4551', 'LX 2350']               2
['LH 5629', 'LH 101', 'LH 1296']     2
['LH 5629', 'LH 99', 'LH 1296']      2
['OS 8176', 'OS 9003']               2
['LH 5587', 'LH 98', 'LH 5922']      1
['LH 5587', 'LH 100', 'LH 5922']     1
['LX 4563', 'LX 2805', 'LX 8348']    1
['LX 4551', 'LX 2807', 'LX 8348']    1
['LX 4551', 'LX 2809', 'LX 8348']    1
Name: Flightnumber, dtype: int64

In [14]:
df["Airports"].value_counts()

['Brussels Airlines', 'Lufthansa']                                         14
['Brussels Airlines', 'EW Discover']                                       13
['Brussels Airlines']                                                       8
['Brussels Airlines', 'Aegean Airlines']                                    6
['Brussels Airlines', 'Swiss International Air Lines', 'Edelweiss Air']     6
['Brussels Airlines', 'Lufthansa', 'Lufthansa']                             4
['Brussels Airlines', 'Edelweiss Air']                                      4
['Brussels Airlines', 'Swiss International Air Lines']                      2
['Brussels Airlines', 'Austrian Airlines']                                  2
None                                                                        2
['Brussels Airlines', 'Lufthansa', 'Aegean Airlines']                       2
['Brussels Airlines', 'SWISS RAILWAYS', 'Edelweiss Air']                    2
Name: Airports, dtype: int64

In [15]:
df["Duration"].value_counts()

755     12
205      8
440      5
485      5
490      4
310      3
1095     3
1415     3
625      3
300      3
None     2
415      2
465      2
735      2
280      2
720      2
430      2
825      1
815      1
Name: Duration, dtype: int64

In [16]:
df["Price"].value_counts()

356.88     4
191.58     4
373.58     2
144.88     2
196.16     2
401.58     2
252.88     2
None       2
314.83     2
743.58     2
726.88     2
158.14     2
191.46     1
131.58     1
197.14     1
352.84     1
436.11     1
350.67     1
392.14     1
288.14     1
246.67     1
343.58     1
406.11     1
327.28     1
221.46     1
321.16     1
264.16     1
312.58     1
161.58     1
373.46     1
587.11     1
718.38     1
969.67     1
713.58     1
782.11     1
1034.11    1
518.58     1
652.14     1
368.16     1
812.11     1
483.46     1
453.58     1
525.67     1
348.38     1
457.14     1
269.58     1
408.67     1
527.84     1
236.14     1
Name: Price, dtype: int64

In [23]:
df = pd.read_csv("../csv/BrusselsAirlines.csv")
df.drop_duplicates(subset=None, inplace=True)
df.to_csv("../csv/BrusselsAirlines.csv", index=False)